<% unless comment.archived? %>
<div class="comment">
  <p>
    <%= comment.body %>
  </p>

  <p>
    <strong>By:</strong>
    <%= comment.commenter %>
  </p>

   <p>
    <%= link_to "Delete", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p>
  </div>
<% end %>
